@model CharEmServicesNet.Models.ViewModels.ServiceEditViewModel

@{
    ViewBag.Title = "Service Details";
}

<h2>Service Details</h2>



<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2"><h4>Service Name:</h4>     </div>
        <div class="col-md-10">
            @Html.DisplayFor(Model => Model.ServiceName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Short Description:</h4>     </div>
        <div class="col-md-10">
            @Html.DisplayFor(Model => Model.ServiceDetails)
        </div>
    </div>
   
    <div class="form-group">
        <div class="col-md-2"><h4>Current Provider:</h4>     </div>
        <div class="col-md-10">
            @Html.DisplayFor(Model => Model.CurrentProvider.OrganizationName)
        </div>
    </div>
   
   

    <h3>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ||
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }) ||
        @Html.ActionLink("Return to List", "index")
    </h3>

</div>