@model CharEmServicesNet.Models.Service
@{
    ViewBag.Title = "Service Details";
}

<h2>Service Details</h2>



<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2"><h4>Service Name:</h4>     </div>
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.ServiceName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Short Description:</h4>     </div>
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.ServiceDetails)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Service Type:</h4>     </div>
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.ServiceType)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Current Providers:</h4>     </div>
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.ServiceProviders.ToList())
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Current Recipients:</h4>     </div>
        <div class="col-md-10">
            @Html.EditorFor(Model => Model.ServiceRecipients.ToList())
        </div>
    </div>


    <h3>@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) ||  @Html.ActionLink("Delete", "Delete", new { id = Model.Id })</h3>

</div>