@model CharEmServicesNet.Models.ViewModels.ServiceDetailViewModel
@{
    ViewBag.Title = "Service Details";
}

<h2>Service Details</h2>



<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2"><h4>Service Name:</h4>     </div>
        <div class="col-md-10">
            @Html.DisplayFor(Model => Model.ServiceName)
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2"><h4>Short Description:</h4>     </div>
        <div class="col-md-10">
            @Html.DisplayFor(Model => Model.ServiceDetails)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2"><h4>Current Provider:</h4>     </div>
        <div class="col-md-10">
            <table class="table table-hover">
                <tr>
                    <td>Name:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.OrganizationName)</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Description)</td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Address.Address1)</td>
                </tr>
                <tr>
                    <td></td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Address.Address2)</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Address.City)</td>
                </tr>
                <tr>
                    <td>State:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Address.State)</td>
                </tr>
                <tr>
                    <td>Zip:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.Address.Zip)</td>
                </tr>
                <tr>
                    <td>Contact Name:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.User.DisplayName )</td>
                </tr>
                <tr>
                    <td>Contact Phone Number:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.User.PhoneNumber)</td>
                </tr>
                <tr>
                    <td>Contact Email:</td>
                    <td>@Html.DisplayFor(Model => Model.CurrentProvider.User.Email, "EmailAddress")</td>
                </tr>
                
                
               
               
               
                
                
                
            </table>
        </div>
    </div>


    <div class="row">
        <h3>
            @Html.ActionLink("Return to Home", "index", "home")
        </h3>
    </div>
    

</div>