@model CharEmServicesNet.Models.ViewModels.EditProviderViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(Model => Model.ProviderId)
    @Html.HiddenFor(Model => Model.UserId)

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4"><h4>Service Provider Name:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.OrganizationName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Short Description:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Address 1:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.Address1)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Address 2:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.Address2)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>City:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.City)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>State:</h4>     </div>
            <div class="col-md-8">
                <div class="col-md-12"></div>
                @Html.DropDownListFor(Model => Model.State, Model.States)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Zip:</h4>     </div>
            <div class="col-md-8">
                @Html.EditorFor(Model => Model.Zip)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <h4>Current Locations:</h4>
                <h6>Select Locations to Remove</h6>
            </div>
            <div class="col-md-8">
                @Html.ListBoxFor(x => x.SelectedLocations, Model.Locations, new { style = "width:250px" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <h4>Other Locations:</h4>
                <h6>Select Locations to Add</h6>
            </div>
            <div class="col-md-8">
                @Html.ListBoxFor(x => x.SelectedAddLocations, Model.AddOtherLocations, new { style = "width:250px" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Contact:</h4>     </div>
            <div class="col-md-8">
                <table>
                    <tr>
                        <td>Current Representative:</td>
                        <td>@Html.DisplayFor(Model => Model.CurrentRepresentative.DisplayName, new { style = "width:250px" })</td>
                    </tr>
                    
                    <tr>
                        <td>Change Representative:</td>
                        <td>@Html.ListBoxFor(Model => Model.ChangeUser, Model.ProviderRep, new { style = "width:250px" })</td>
                    </tr>
                </table>
                <br />
                
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <input type="submit" value="Save Changes" class="btn btn-primary" />
            </div>
            <div class="col-md-offset-1 col-md-4">
                @Html.ActionLink("Cancel", "Details", new { id = Model.ProviderId }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}
@Html.ActionLink("Back to List", "index")

