
@model CharEmServicesNet.Models.ViewModels.MainViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row" id="home-jumbo">
    <div class="col-md-4">
        <img id="home-logo" src="~/Content/Images/char-em.png" />
    </div>
    <div class="jumbotron">
        <h2><span class="glyphicon glyphicon-info-sign"></span>Services Meeting Point</h2>
    </div>
</div>


<div class="row">
    @if (Model.IsAdmin)
    {
        <div class="col-md-2">
            <div class="admin">
                <h2>Site Admin</h2>
                <h4>@Html.ActionLink("Manage Providers", "index", "ServiceProvider", null, new { @class = "btn btn-primary adminBtn" })</h4>
                <h4>@Html.ActionLink("Manage Services", "index", "Service", null, new { @class = "btn btn-primary adminBtn" })</h4>
                <h4>@Html.ActionLink("Manage Locations", "index", "Location", null, new { @class = "btn btn-primary adminBtn" })</h4>
                <h4>@Html.ActionLink("Users / Invite", "index", "Admin", null, new { @class = "btn btn-primary adminBtn" })</h4>
            </div>
        </div>
    }

    @if (Model.IsProvider)
    {
        <div class="col-md-2">
            <div class="providers">
                <h2>Org Admin</h2>
                <h4>@Html.ActionLink("Manage Details", "Edit", "ServiceProvider", new { id = Model.ProviderId }, new { @class = "btn btn-primary adminBtn" }) </h4>
            </div>
        </div>
    }

    <div class="col-md-10" >
        <div class="panel panel-primary">
            <div class="panel panel-heading">
                <h2>Find Services Available to You:</h2>
            </div>
            <div class="panel panel-body">
                <div id="serviceType">
                    <h4>Choose A Type Of Service:</h4>
                    <hr />
                    @for (var i = 0; i < Model.serviceTypeItem.Count; i = i + 2)
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <h2 class = "btn btn-primary serviceTypeBtn" id="@Model.serviceTypeItem[i].Id">@Model.serviceTypeItem[i].Name</h2>
                            </div>
                            @if (i + 1 < Model.serviceTypeItem.Count)
                            {
                                <div class="col-md-6">
                                    <h2>@Html.ActionLink(Model.serviceTypeItem[i + 1].Name, "LocationPartial", "Home", new { id = Model.serviceTypeItem[i + 1].Id }, new { @class = "btn btn-primary serviceTypeBtn" })</h2>
                                </div>
                            }
                        </div>
                    }
                </div>               
                <div id="locationPartial">
                    <div id="loading">
                        <img src="~/Content/Images/ajax-loader.gif" />
                    </div>                        
                </div>
                <div id="serviceDisplay">

                </div>                
            </div>
            <div id="serviceTypeRef" style="display:none"></div>
        </div>


    </div>

</div>