@model CharEmServicesNet.Models.ViewModels.LocationOperationViewModel
@{
    ViewBag.Title = "Location Details";
}

<h2>Location Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-4"><h4>Location Name:</h4>     </div>
            <div class="col-md-8">
                @Html.DisplayFor(x => x.LocationName, new { style = "width:350px" })
                @Html.ValidationMessageFor(x => x.LocationName)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>Short Description:</h4>     </div>
            <div class="col-md-8">
                @Html.DisplayFor(x => x.LocationDescription, new { style = "width:500px" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>City:</h4>     </div>
            <div class="col-md-8">
                @Html.DisplayFor(x => x.CurrentCity.Name, new { style = "width:500px" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4"><h4>County:</h4>     </div>
            <div class="col-md-8">
                @Html.DisplayFor(x => x.CurrentCounty.Name, new { style = "width:500px" })
            </div>
        </div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary"})
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })

    </div>
    @Html.ActionLink("Return to List", "Index")
    
}